<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="classMapper">
	
	<resultMap id="classResult" type="Class">
		<result column="class_num" property="classNum"/>
		<result column="prof_no" property="profNo"/>
		<result column="class_name" property="className"/>
		<result column="class_type" property="classType"/>
		<result column="class_score" property="classScore"/>
		<result column="class_semester" property="classSemester"/>
		<result column="class_grade" property="classGrade"/>
		<result column="class_room" property="classRoom"/>
		<result column="class_time" property="classTime"/>
		<result column="class_people" property="classPeople"/>
		<result column="class_etc" property="classEtc"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="class_typeName" property="classTypeName"/>
		<result column="class_no" property="classNo"/>
		<result column="class_status" property="classStatus"/>
		<result column="member_name" property="memberName"/>
	</resultMap>
	
	<resultMap type="ClassDetail" id="classDetailResult">
		<result column="ref_cno" property="refClassNo"/>
		<result column="class_day" property="classDay"/>
		<result column="class_time" property="classTime"/>
	</resultMap>
	
	<resultMap id="ClassNoticeResult" type="ClassNotice">
		<result column="class_notice_no" property="classNoticeNo"/>
		<result column="ref_class_no" property="refClassNo"/>
		<result column="cn_writer" property="cnWriter"/>
		<result column="cn_title" property="cnTitle"/>
		<result column="cn_content" property="cnContent"/>
		<result column="cn_date" property="cnDate"/>
		<result column="cn_origin_name" property="cnOriginName"/>
		<result column="cn_change_name" property="cnChangeName"/>
		<result column="cn_status" property="cnStatus"/>
		<result column="cn_count" property="cnCount"/>
		<result column="member_name" property="memberName"/>
		<result column="class_name" property="className"/>
		<result column="class_num" property="classNum"/>
		<result column="rnum" property="rNum"/>
	</resultMap>
	
		<resultMap id="ClassBoardResult" type="ClassBoard">
		<result column="class_board_no" property="classBoardNo"/>
		<result column="ref_class_no" property="refClassNo"/>
		<result column="cb_writer" property="cbWriter"/>
		<result column="cb_title" property="cbTitle"/>
		<result column="cb_content" property="cbContent"/>
		<result column="cb_date" property="cbDate"/>
		<result column="cb_origin_name" property="cbOriginName"/>
		<result column="cb_change_name" property="cbChangeName"/>
		<result column="cb_status" property="cbStatus"/>
		<result column="cb_count" property="cbCount"/>
		<result column="student_name" property="studentName"/>
		<result column="class_name" property="className"/>
		<result column="class_num" property="classNum"/>
		<result column="rnum" property="rNum"/>
	</resultMap>
	
	<insert id="insertClass">
		insert
		  into class
		     (
		      class_no
		    , class_num
		    , prof_no
		    , class_name
		    , class_type
		    , class_score
		    , class_semester
		    , class_grade
		    , class_room
		    , class_time
		    , class_people
		    , class_etc
		    , origin_name
		    , change_name
		    , enroll_date
		    )
	    values
		    (seq_class.nextval
		     ,#{classNum}
		     ,#{profNo}
		     ,#{className}
		     ,#{classType}
		     ,#{classScore}
		     ,#{classSemester}
		     ,#{classGrade}
		     ,#{classRoom}
		     ,#{classTime}
		     ,#{classPeople}
		     ,#{classEtc}
		     ,#{originName}
		     ,#{changeName}
		     ,TO_CHAR(SYSDATE,'YYYY')
		     )
	</insert>
	
	
	<select id="classSelect" resultMap="classResult">
    select *
    from class
    where prof_no = (
			         select member_no
			         from member
			         where m_type = 'P' and member_id = #{memberId}
			   		 )
	  and class_status = 'Y'
	</select>
	
	
	<select id="selectClassListCount" resultType="_int">
		select
		 	   count(*)
		  from class
		 where prof_no = (
		 				select member_no
			         	from member
			         	where m_type = 'P' and member_id = #{memberId}
		 				 )
	</select>
	
	<select id="selectClassList" resultMap="classResult">
		select 
			   c.class_num
			 , c.enroll_date
			 , c.class_grade
			 , c.class_semester
			 , c.class_name
			 , t.class_typename
			 , c.class_no
	      from class c
	      join class_type t on c.class_type = t.class_type
	     where c.class_status = 'Y'
	       and c.prof_no =(
		 					select member_no
			        	 	from member
			         		where m_type = 'P' and member_id = #{memberId}
		 				   )
	</select>
	
	<select id="selectClassDetail" resultMap="classResult">
	select *
	  from class c
	  join class_type t on c.class_type = t.class_type
	where c.class_no = #{classNo}
		</select>
	
	<update id="delectClass">
	 update class 
	    set 
	    	class_status = 'N'
	  where class_no = #{classNo}
	</update>
	
	<update id="professorClassUpdate">
		   update
			      class
		      set class_num = #{classNum}
			    , class_name = #{className}
			    , class_type = #{classType}
			    , class_score = #{classScore}
			    , class_semester = #{classSemester}
			    , class_grade = #{classGrade}
			    , class_room = #{classRoom}
			    , class_time = #{classTime}
			    , class_people = #{classPeople}
			    , class_etc = #{classEtc}
			    , origin_name = #{originName}
			    , change_name = #{changeName}
			    , enroll_date = TO_CHAR(SYSDATE,'YYYY')
		    where class_no = #{classNo}
		    
	</update>
	
	<select id="selectListCount" resultType="_int">
		select 
		       count(*)
		  from class_notice cn
          join class c on (c.class_no = cn.ref_class_no)
		 where cn_status = 'Y'
		   and c.class_num = #{classNum}
	</select>
		
	<select id="selectClassNoticeList" resultMap="ClassNoticeResult">
		select 
                 rownum as ref_class_no,
                 class_notice_no,
                 cn_title,
                 cn_date,
                 cn_count,
                 cn_writer,
                 class_name
             from (
                 select distinct
                     cn.cn_title,
                     cn.cn_date,
                     cn.cn_count,
                     cn.cn_writer,
                     c.class_name,
                     cn.class_notice_no
                 from 
                     class_notice cn
                 join 
                     class c ON (c.class_no = cn.ref_class_no)
                 join 
                     course co ON (co.class_no = cn.ref_class_no)
                 where 
                     cn_status ='Y'
                     and c.class_num = #{classNum}
                     and course_status = 'Y'
                 order by 
                     class_notice_no desc
             )
	</select>	
	
	<update id="increaseCount">
	   update class_notice
			set cn_count = cn_count + 1
			where class_notice_no = (
			    select class_notice_no
			    from (
			        select 
			               class_notice_no,
			               cn_count
			        from (
			            select 
                            distinct 
			                class_notice_no,
			                cn_count
			            from class_notice cn
			            join class c on c.class_no = cn.ref_class_no
			            join course co on co.class_no = cn.ref_class_no
			            where cn_status ='Y'
			            and c.class_num = #{classNum}
			            and course_status = 'Y'
			            order by class_notice_no desc
			        )
			)where class_notice_no = #{classNoticeNo})
</update>


	
	<select id="selectClassNoticeDetail" resultMap="ClassNoticeResult">
		select 
		       class_notice_no
		     , class_num
		     , cn_title
		     , cn_content
		     , cn_date
		     , cn_count
		     , member_name
		     , cn_change_name
		     , cn_origin_name
	         , class_name
		  from class_notice
		  join member on(cn_writer = member_no)
	      join class on(ref_class_no = class_no)
		 where  class_notice_no = (
			    select class_notice_no
			    from (
			        select rownum as rnum,
			                   class_notice_no
                             , cn_writer
                             , cn_title
                             , cn_content
                             , cn_date
                             , cn_count
                             , cn_change_name
                             , cn_origin_name
                             , class_name
			       from (
                     select distinct
                         cn.cn_content,
                         cn.cn_title,
                         cn.cn_date,
                         cn.cn_count,
                         cn.cn_writer,
                         c.class_name,
                         cn.class_notice_no,
                         cn.cn_origin_name,
                         cn.cn_change_name
                     from 
                         class_notice cn
                     join 
                         class c ON (c.class_no = cn.ref_class_no)
                     join 
                         course co ON (co.class_no = cn.ref_class_no)
                     where 
                         cn_status ='Y'
                         and c.class_num = #{classNum}
                     order by 
                         class_notice_no desc
                        )
                    )
                    where rnum = #{classNoticeNo}
                )
                and cn_status = 'Y'
	</select>		
		
	<select id="selectCoursePlan" resultMap="classResult">
		select 
		       class_no
		     , class_num
		     , member_name
		     , class_score
		     , class_time
		     , class_room
		     , class_name
		     , origin_name
		     , change_name
		  from class
		  join member on(prof_no = member_no)
		 where class_num = #{classNum}
		   and  SUBSTR(enroll_date, 1, 4) = '2024'
	</select>	
	
	<select id="selectBoardListCount" resultType="_int">
		select 
		       count(*)
		  from class_board
		  join class on (class_no = ref_class_no)
		 where cb_status = 'Y'
		   and class_num = #{classNum}
	</select>
	
	<select id="selectClassBoardList" resultMap="ClassBoardResult">
		select 
                   cb_writer
                 , class_board_no
			     , cb_title
			     , cb_date
			     , student_name
			     , cb_count
			     , class_name
			from (
			    select 
                   rownum as cb_writer
                 , class_board_no
                 , cb_title
			     , cb_date
			     , student_name
			     , cb_count
			     , class_name
			    from (
			        select 
			               cb_title
                         , class_board_no
					     , cb_date
					     , student_name
					     , cb_count
					     , class_name
					  from class_board
					  join student on (cb_writer = student_no)
					  join class on (class_no = ref_class_no)
					 where cb_status = 'Y'
					   and class_num = #{classNum}
					 order 
					    by class_board_no desc
			    )
			)
	</select>
	
	<select id="classBoardCount">
		update class_board
        set cb_count = cb_count + 1
        where class_board_no = (
            select class_board_no
            from (
                    select 
                        class_board_no,
                        cb_count
                     from class_board
                     join student on (cb_writer = student_no)
                     join class on (class_no = ref_class_no)
                    where cb_status = 'Y'
                      and class_num = #{classNum}
                    order 
                       by class_board_no desc
            )
            where class_board_no = #{classBoardNo})
	</select>
	
	<select id="selectClassDetailBoard" resultMap="ClassBoardResult">
		select 
		      class_board_no
		     , student_name
		     , cb_title
		     , cb_content
		     , cb_origin_name
		     , cb_change_name
		     , cb_count
		     , cb_date
		  from class_board
		  join student on(cb_writer = student_no)
	      join class on(ref_class_no = class_no)
		 where  class_board_no = (
			    select class_board_no
			    from (
			        select rownum as rnum,
                           class_board_no
                         , student_name
                         , cb_title
                         , cb_content
                         , cb_origin_name
                         , cb_change_name
                         , cb_count
                         , cb_date
			        from (
			            select 
                               *
                         from class_board
                         join student on (cb_writer = student_no)
                         join class on (class_no = ref_class_no)
                        where cb_status = 'Y'
                          and class_num = #{classNum}
                        order 
                           by class_board_no desc
                        )
			    )
			    where rnum = #{bno}
			)
            and cb_status = 'Y'
	</select>
	
	<select id="classPlanView" resultMap="classResult">
		select 
		       origin_name
		     , change_name
		  from class
		 where class_num = #{classNum}
		   and  SUBSTR(enroll_date, 1, 4) = '2024'
	</select>
	
	<insert id="insertClassBoard">
		insert 
		  into class_board
		      (
		        class_board_no
		      , ref_class_no
		      , cb_writer
		      , cb_title
		      , cb_content
		      , cb_origin_name
		      , cb_change_name
		      )
		 values
		      (
		      	seq_cnbo.nextval
		      , #{refClassNo}
		      , #{cbWriter}
		      , #{cbTitle}
		      , #{cbContent}
		      , #{cbOriginName}
		      , #{cbChangeName}
		      )
	</insert>
	
	<update id="deleteBoardStudent">
		update class_board
		   set cb_status = 'N'
		 where class_board_no = #{bno}
		   and ref_class_no = #{classNo}
	</update>
	
	
</mapper>