<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="gradeMapper">
	
	<resultMap type="Grade" id="gradeResult">
		<result column="class_no" property="classNo"/>
		<result column="student_no" property="studentNo"/>
		<result column="grade" property="grade"/>
		<result column="term_no" property="termNo"/>
	</resultMap>
	
</mapper>