<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="tuitionMapper">

	<resultMap type="Tuition" id="tuitionResult">
		<result column="tt_no" property="ttNo"/>
		<result column="student_no" property="studentNo"/>
		<result column="term_no" property="termNo"/>
		<result column="tuition" property="tuition"/>
		<result column="scholarship" property="scholarship"/>
		<result column="student_id" property="studentId"/>	
	</resultMap>
	
	<resultMap type="TuitionPayment" id="tuitionPaymentResult">
		<result column="tp_no" property="tpNo"/>
		<result column="tt_no" property="refTuitionNo"/>
		<result column="tp_date" property="tpDate"/>
		<result column="tp_total_price" property="totalPrice"/>
	</resultMap>
	
	<resultMap type="AdminTuitionMake" id="adminTuitionResult">
		<result column="tt_no" property="ttNo" />
		<result column="tb_due" property="tbDue" />
		<result column="tb_date" property="tbDate" />
		<result column="tb_price" property="tbPrice" />
		<result column="total_price" property="totalPrice" />
		<result column="tb_status" property="tbStatus" />
	</resultMap>
	

	
	<select id="tuitionBillForm" resultMap="tuitionResult">
		SELECT 
		       t.tt_no
		     , t.student_no
		     , t.term_no
		     , t.tuition
		     , t.scholarship
		     , tp.tp_no
		     , tp.tp_date
		     , tp.tp_total_price
		FROM tuition t
		JOIN tuition_payment tp on (t.tt_no = tp.tt_no)
		WHERE t.STUDENT_ID = #{studentId}
	</select>
	
	<insert id="insertTuitionPay">
    insert 
      into tuition_payment
	  (
	    tp_no
	  , tt_no
	  , tp_date
	  , tp_total_price
	  )
	  values
	  (
	    seq_tpno.nextVAL
	  , #{ttNo}
	  , SYSDATE
	  , #{totalPrice}
	  )
	</insert>
	
 	<select id="tuitionMakeForm" resultMap="adminTuitionResult">
		SELECT
			   student_no
		     , s.student_id
		     , s.student_name
		     , tt_no
		     , tb.tb_price
		     , t.scholarship
		     , tb.total_price
		     , tb.tb_due
		  FROM student s
		  JOIN tuition t USING (student_no)
		  JOIN tuition_bill tb USING (tt_no)
		 WHERE s.student_id = #{ search }
	</select>
	
	
	
	
	
</mapper>