<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="tuitionMapper">

	<resultMap type="Tuition" id="tuitionTuition">
		<result column="tuition_no" property="tuitiontNo"/>
		<result column="tt_no" property="ttNo"/>
		<result column="student_no" property="studentNo"/>
		<result column="student_id" property="studentId"/>
		<result column="tuition" property="tuition"/>
		<result column="scholarship" property="scholarship"/>
		<result column="ts_year" property="tsYear"/>
		<result column="ts_semester" property="tsSemester"/>
		<result column="ts_status" property="tsStatus"/>
		<result column="tp_date" property="tpDate" />
	</resultMap>


	<resultMap type="TuitionStudent" id="tuitionResult">
		<result column="tuition_no" property="tuitiontNo"/>
		<result column="tt_no" property="ttNo"/>
		<result column="student_no" property="studentNo"/>
		<result column="student_id" property="studentId"/>
		<result column="tuition" property="tuition"/>
		<result column="scholarship" property="scholarship"/>
		<result column="ts_year" property="tsYear"/>
		<result column="ts_semester" property="tsSemester"/>
		<result column="ts_status" property="tsStatus"/>
		<result column="tp_date" property="tpDate" />
	</resultMap>
	
	<resultMap type="TuitionPayment" id="tuitionPaymentResult">
		<result column="tp_no" property="tpNo"/>
		<result column="tt_no" property="ttNo"/>
		<result column="tp_date" property="tpDate"/>
		<result column="tp_total_price" property="totalPrice"/>
	</resultMap>
	
<!-- 	<resultMap type="AdminTuitionMake" id="adminTuitionResult">
		<result column="tt_no" property="ttNo" />
		<result column="tb_open" property="tbOpen" />
		<result column="tb_close" property="tbClose" />
		<result column="tb_date" property="tbDate" />
		<result column="tb_price" property="tbPrice" />
		<result column="total_price" property="totalPrice" />
		<result column="tb_status" property="tbStatus" />
	</resultMap> -->
	
	<resultMap type="AdminTuitionMake" id="adminTuitionResult">
		<result column="tt_no" property="ttNo"/>
		<result column="tb_open" property="tbOpen"/>
		<result column="tb_close" property="tbClose" />
		<result column="tb_insert" property="tbInsert" />
		<result column="tb_update" property="tbUpdate"/>
		<result column="tb_price" property="tbPrice"/>
		<result column="tb_semester" property="tbSemester"/>
	</resultMap>
	
	<resultMap type="TuitionStudents" id="tuitionStudent">
		<result column="student_no" property="studentNo"/>
		<result column="student_id" property="studentId"/>
		<result column="student_pwd" property="studentPwd"/>
		<result column="student_name" property="studentName"/>
		<result column="student_ssn" property="studentSsn"/>
		<result column="s_phone" property="stPhone"/>
		<result column="s_email" property="stEmail"/>
		<result column="s_address" property="stAddress"/>
		<result column="s_status" property="stStatus"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="absence_date" property="absenceDate"/>
		<result column="grad_date" property="gradDate"/>
	</resultMap>
	
	<resultMap type="TuitionBill" id="tuitionBill">
		<result column="tt_no" property="ttNo" />
		<result column="tuition" property="tuition" />
		<result column="scholarship" property="scholarship" />
		<result column="tb_open" property="tbOpen" />
		<result column="tb_close" property="tbClose" />
		<result column="tb_semester" property="tbSemester" />
	</resultMap>
	
	<resultMap type="TopStudent" id="topStudent">
      <result column="student_no" property="studentNo" />
      <result column="student_name" property="studentName" /> 
      <result column="total_point" property="totalPoint" /> 
   </resultMap>
	
	<select id="tuitionPayForm" resultMap="tuitionBill">
		select 
		       tt_no
		     , tuition
		     , scholarship
		     , tb_open
		     , tb_close
		     , ts_semester
		  from tuition_student
		  join tuition_bill using (tt_no)
		 where student_id = #{studentId}
	</select>
	
	
	<select id="tuitionBillForm" resultMap="tuitionBill">
		select 
		       tt_no
		     , tuition
		     , scholarship
		     , tb_open
		     , tb_close
		     , ts_semester
		  from tuition_student
		  join tuition_bill using (tt_no)
		 where student_id = #{studentId}
	</select>
	
	<select id="studentTuition" resultMap="tuitionTuition">
		select 
		       tuition_no
		     , ts_year
		     , ts_semester
		     , tuition
		     , scholarship
		     , ts_status
		     , tp_date
		  from tuition_student
		  join tuition_payment using (tt_no)
		 where student_id = #{studentId}	
	</select>
	
	<insert id="insertTuitionPay">
    insert 
      into tuition_payment
	  (
	    tp_no
	  , tt_no
	  , tp_date
	  , tp_total_price
	  )
	  values
	  (
	    seq_tpno.nextVAL
	  , #{ttNo}
	  , SYSDATE
	  , #{totalPrice}
	  )
	</insert>
	
	<!-- <update id="insertTuitionPay">
		UPDATE 
		       tuition_student
		   SET ts_status = 'Y'
		   WHERE student_id = #{studentId}
	</update> -->
	
<!--  	<select id="tuitionMakeForm" resultMap="adminTuitionResult">
		SELECT
			   student_no
		     , s.student_id
		     , s.student_name
		     , tt_no
		     , tb.tb_price
		     , t.scholarship
		     , tb.tb_open
		     , tb.tb_close	     
		  FROM student s
		  JOIN tuition_student t USING (student_no)
		  JOIN tuition_bill tb USING (tt_no)
		  WHERE s.student_id = #{ search }
	</select> -->
	
	 <select id="tuitionMakeForm" resultMap="adminTuitionResult">
		SELECT
			   tt_no
		     , tb.tb_open
		     , tb.tb_close
		     , tb_insert
		     , tb_update
		     , tb_price
		     , tb_semester	     
		  FROM tuition_bill t
	</select>
	
 	<select id="latestTuition" resultMap="adminTuitionResult">
 	  <![CDATA[
		select *
		  from (
		         select 
		         tt_no
               , tb_open
               , tb_close
               , tb_insert
               , tb_update
               , tb_price
               , tb_semester
            from tuition_bill
           ORDER BY tt_no desc
		  	   )
		  where rownum <=1
	  ]]>
	</select> 
	
	<delete id="deleteTuitionStudent">
		delete from tuition_student
		 where 1=1
	</delete>
	
	
	<select id="selectAllTuitionStudent" resultMap="tuitionStudent">
		select * from student
		where s_status = 'Y'
	</select>
	
	<insert id="insertTuitionStudents">
        INSERT INTO tuition_student (
        TUITION_NO
        , TT_NO 
        , STUDENT_NO 
        , STUDENT_ID
        , TUITION 
        , SCHOLARSHIP 
        , TS_YEAR 
        , TS_SEMESTER 
        , TS_STATUS 
        )
        VALUES
            (
              SEQ_TSNO.NEXTVAL
            , #{ttNo}
            , #{studentNo}
            , #{studentId}
            , #{tuition}
            , #{scholarShip}
            , #{tsYear}
            , #{tsSemester}                                                        
            , #{tsStatus}
            )
    </insert>
    
    <select id="topSelectStudent" resultMap="topStudent">
         <![CDATA[
         SELECT A.STUDENT_NO, A.STUDENT_NAME, A.TOTAL_POINT
         FROM 
         (
             SELECT s.STUDENT_NO, S.STUDENT_NAME, G.TOTAL_POINT
             FROM STUDENT S
                JOIN GRADE G ON S.STUDENT_NO = G.STUDENT_NO
                WHERE S_STATUS = 'Y'
                  AND CLASS_NO = 3
             ORDER BY TOTAL_POINT DESC
         ) A
         WHERE ROWNUM <= 3
          ]]>
   </select>
	

	
</mapper>