<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.khu.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.khu.board.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.khu.classroom.model.vo.Classroom" alias="Class"/>
		<typeAlias type="com.kh.khu.classroom.model.vo.ClassDetail" alias="ClassDetail"/>
		<typeAlias type="com.kh.khu.classroom.model.vo.ClassNotice" alias="ClassNotice"/>
		<typeAlias type="com.kh.khu.grade.model.vo.Grade" alias="Grade"/>
		<typeAlias type="com.kh.khu.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.khu.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.khu.project.model.vo.Project" alias="Project"/>
		<typeAlias type="com.kh.khu.scholarships.model.vo.Scholarships" alias="Scholarship"/>
		<typeAlias type="com.kh.khu.scholarships.model.vo.ScholarshipsStu" alias="ScholarshipStu"/>
		<typeAlias type="com.kh.khu.student.model.vo.Student" alias="Student"/>
		<typeAlias type="com.kh.khu.student.model.vo.Absence" alias="Absence"/>
		<typeAlias type="com.kh.khu.student.model.vo.Presence" alias="Presence"/>
		<typeAlias type="com.kh.khu.tuition.model.vo.Tuition" alias="TuitionStudent"/>
		<typeAlias type="com.kh.khu.tuition.model.vo.TuitionPayment" alias="TuitionPayment"/>
		<typeAlias type="com.kh.khu.tuition.model.vo.AdminTuitionMake" alias="AdminTuitionMake"/>
		<typeAlias type="com.kh.khu.classroom.model.vo.Course" alias="Course"/>
		<typeAlias type="com.kh.khu.classroom.model.vo.ClassBoard" alias="ClassBoard"/>
	</typeAliases>
	<mappers>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/class-mapper.xml"/>
		<mapper resource="/mappers/grade-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/scholarships-mapper.xml"/>
		<mapper resource="/mappers/student-mapper.xml"/>
		<mapper resource="/mappers/tuition-mapper.xml"/>
		<mapper resource="/mappers/project-mapper.xml"/>
	</mappers>

</configuration>